<?xml version="1.0"?>
<launch>

  <!-- start hokuyo node -->
  <!-- node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node_front" output="screen"/ -->

  <!-- start fixed transform -->
  <node pkg="summit_xl_static_tf" type="summit_xl_tf" name="summit_xl_tf_node" output="screen"/>

  <!-- start sound node -->
  <!-- node pkg="sound_play" type="soundplay_node.py" name="sound_play_node" output="screen"/ -->

  <!-- rosrun sound_play say.py 'Hello world' -->
  <!-- node pkg="sound_play" type="say.py" name="sound_play_say" args="'SUMMIT, READY'" output="screen"/ -->

  <!-- start summit_xl_controller node -->
  <node pkg="summit_xl_controller" type="summit_xl_controller" name="summit_xl_controller" output="screen"/>

  <!-- start summit_xl_pad nodes -->
  <!-- include file="$(find summit_xl_pad)/launch/summit_xl_pad.launch" / -->



</launch>

